In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

In [2]:
price = pd.read_csv("../nyse/prices.csv")
price_GE = price.query("symbol == 'GE'") # (1762,7)
columns = ['date','symbol','high','low','open','close','volume']
price_GE = price_GE.reindex(columns,axis=1)
price_GE.drop(['date','symbol'], axis=1, inplace=True)
print(price_GE.shape)
price_GE.head()

(1762, 5)

           high    low       open  close       volume
434   15.640000  15.15  15.220000  15.45   67079900.0
902   15.670000  15.45  15.460000  15.53   64550600.0
1370  15.620000  15.44  15.530000  15.45   55464900.0
1838  16.480000  15.43  15.480000  16.25  185472300.0
2306  16.690001  16.27  16.309999  16.60  115112600.0

In [3]:
from datetime import datetime,timedelta

def find_last_ith_day(row_content,i):
    # date_object = price_GE[0:1]['date']
    date_object = row_content['date']
    # print(date)
    date_datetime = pd.to_datetime(date, format ='%Y-%m-%d')
    new_date = date_datetime - timedelta(days=i)
    # print(new_date)
    new_date_object = new_date.map(lambda x:x.strftime('%Y-%m-%d'))
    # print(new_date_object)
    result = price_GE.query('date.values ==@new_date_object.values')
    columns = ['high','low','open','close','volume']
    print(result[columns].values[0])
    print('*'*30)
    return result[columns].values[0]